@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #00a99d 10%, #009245 90%);
    height: 128vh;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.formulario{
    background-color: #ffffff;
    width: 50vw;
    height: auto;
    border-radius: 8px;
}
.nome-user{
    margin-left: 33px;
    font-family: 'Muli', sans-serif;
    color: #00a99d;
}
.infos{ 
    margin-left: 22px;
}
.input{
    max-width:45vw;
    background-color: rgb(226, 226, 226);
    margin: 30px 0;
    padding: 12px;
    border-radius: 4px;
    font-family: 'Muli', sans-serif;
    color: rgb(102, 103, 104);
}
.input-det{
    max-width:45vw;
    background-color: rgb(226, 226, 226);
    margin: 30px 0;
    padding: 12px;
    border-radius: 4px;
    font-family: 'Muli', sans-serif;
    color: rgb(102, 103, 104);
    overflow-y: auto;
    overflow-x: hidden;
    height: 20vh;
    text-align: justify;
    word-wrap: break-word;
}
.input-donw{
    max-width:10vw;
    background-color: rgb(226, 226, 226);
    margin: 30px 0;
    padding: 12px;
    border-radius: 4px;
    font-family: 'Muli', sans-serif;
    color: #00a99d;
    text-align: center;
    cursor: pointer;
}
.input span{
    color: #00a99d;
}
.input-det span{
    color: #00a99d;
}
textarea{
    resize: none;
    border-radius: 4px;
    background: rgb(226, 226, 226);
    border: none;
    font-family: 'Muli', sans-serif;
   font-size: 1rem;
   color: #00a99d;
   width: 67vw;
}
a{
    text-decoration: none;
    color: #00a99d;

}
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background: #ffffff;
    border-radius: 0 8px 8px 0px;
    
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(226, 226, 226);
    border-radius: 7.5px;
  }
  .btn{
      margin: 10px 0;
  }
  .def{
    background: rgb(29, 165, 113);
    border: none;
    padding: 15px;
    width: 100px;
    color: #ffffff;
    outline: none;
    border-radius: 4px;
    font-family: 'Muli', sans-serif;  
    cursor: pointer;
  }
  .ind{
    background: rgb(60, 62, 65);
    border: none;
    padding: 15px;
    width: 100px;
    color: #ffffff;
    outline: none;
    border-radius: 4px;
    margin-left: 20px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
  }
  .def:hover{
    background: rgb(34, 197, 135);
  }
  .ind:hover{
    background: rgb(83, 86, 90);
  }
  .swal2-title,.swal2-select,.swal2-confirm,#swal2-content,.swal2-cancel,.swal2-progress-step,.swal2-validation-message{
    font-family: 'DM Sans', sans-serif;
  }
  .swal2-textarea{
    resize: none;
    font-family: 'DM Sans', sans-serif;
  }
  .infos {
    animation-duration: 3s;
    animation-delay: .2s;
  }
  .fas{
    animation-duration: 10s;
    animation-delay: .4s;
    margin-left: 10px;
  }
  @media (max-width: 330px) {
    body{
      height: 100%;
    }
    main{
      height: 141vh;
    }
    .formulario{
      background-color: #ffffff;
      width:92vw;
      height: auto;
      border-radius: 8px;
  }
  .input{
    max-width:73vw;
    background-color: rgb(226, 226, 226);
    margin: 30px 0;
    padding: 12px;
    border-radius: 4px;
    font-family: 'Muli', sans-serif;
    color: rgb(102, 103, 104);
}
.input #email{
  font-size: 14px;
}
.input-det{
  max-width:73vw;
  background-color: rgb(226, 226, 226);
  margin: 30px 0;
  padding: 12px;
  border-radius: 4px;
  font-family: 'Muli', sans-serif;
  color: rgb(102, 103, 104);
  overflow-y: auto;
  overflow-x: hidden;
  height: 20vh;
  text-align: justify;
  word-wrap: break-word;
}
.input-donw{
  max-width:55vw;
  background-color: rgb(226, 226, 226);
  margin: 30px 0;
  padding: 12px;
  border-radius: 4px;
  font-family: 'Muli', sans-serif;
  color: #00a99d;
  text-align: center;
  cursor: pointer;
}
.nome-user{
  margin-left: 22px;
  font-family: 'Muli', sans-serif;
  color: #00a99d;
}
  }
  @media (min-width:330px) and (max-width: 768.98px) {
    .formulario{
      background-color: #ffffff;
      width: 94vw;
      height: auto;
      border-radius: 8px;
  }
  .infos{ 
    margin-left: 18px;
}
  .input{
    max-width:78vw;
    background-color: rgb(226, 226, 226);
    margin: 30px 0;
    padding: 12px;
    border-radius: 4px;
    font-family: 'Muli', sans-serif;
    color: rgb(102, 103, 104);
}
.input-det{
  max-width:78vw;
  background-color: rgb(226, 226, 226);
  margin: 30px 0;
  padding: 12px;
  border-radius: 4px;
  font-family: 'Muli', sans-serif;
  color: rgb(102, 103, 104);
  overflow-y: auto;
  overflow-x: hidden;
  height: 20vh;
  text-align: justify;
  word-wrap: break-word;
}
.input-donw{
  max-width:38vw;
  background-color: rgb(226, 226, 226);
  margin: 30px 0;
  padding: 12px;
  border-radius: 4px;
  font-family: 'Muli', sans-serif;
  color: #00a99d;
  text-align: center;
  cursor: pointer;
}
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    body{
      height: 100%;
    }
    main{
      height: 194vh;
    }
    .formulario{
      background-color: #ffffff;
      width: 54vw;
      height: auto;
      border-radius: 8px;
  }
  .input-donw{
    max-width:18vw;
    background-color: rgb(226, 226, 226);
    margin: 30px 0;
    padding: 12px;
    border-radius: 4px;
    font-family: 'Muli', sans-serif;
    color: #00a99d;
    text-align: center;
    cursor: pointer;
  }
  }

  @media (min-width: 1800px) {
    .formulario{
        background-color: #ffffff;
        width: 40vw;
        height: auto;
        border-radius: 8px;
    }
    body{
      overflow: hidden;
    }
    main{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 95vh;
    }
    .infos{ 
        margin-left: 38px;
    }
    .nome-user{
        margin-left: 48px;
        font-family: 'Muli', sans-serif;
        color: #00a99d;
    }
    .input{
      max-width:35vw;
      background-color: rgb(226, 226, 226);
      margin: 30px 0;
      padding: 12px;
      border-radius: 4px;
      font-family: 'Muli', sans-serif;
      color: rgb(102, 103, 104);
  }
  .input-det{
    max-width:35vw;
    background-color: rgb(226, 226, 226);
    margin: 30px 0;
    padding: 12px;
    border-radius: 4px;
    font-family: 'Muli', sans-serif;
    color: rgb(102, 103, 104);
    overflow-y: auto;
    overflow-x: hidden;
    height: 20vh;
    text-align: justify;
    word-wrap: break-word;
}
  }
