@import url('https://fonts.googleapis.com/css?family=Muli:200');
body{
  margin: 0;
  padding: 0;
}
.nav-top{
  width: 100vw;
  height:80px;
  background: linear-gradient(100005deg, #00a99d 10%, #009245 90%);
  position: absolute;
  top: 0;
}
.top-itens{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}
.titulo{
  font-family: 'Muli',sans-serif;
  color: white;
  font-size: 16px;
  margin-left: 17px;
}
.busca #busca_req{
  width: 600px;
  height: 40px;
  border-radius: 7px;
  outline: 0;
  border: 0;
  font-family: 'Muli',sans-serif;
  margin-left: 150px;
  padding-left: 3rem;
}
.lupa{
  background-repeat: no-repeat;
  position:absolute;
  left: 423px;
  top: 30.4px;
}
.perfil{
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  position: absolute;
  right: 0;
  margin: 0 1rem;
}
.logoif{
    margin-left:20px;
}
.cxentradas{
  display: flex;
  flex-direction:row;
  margin: 144px 80px;
}
.botao-def{
  position: relative;
  cursor: pointer;
  display: block;
  padding: 0 40px 0 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  color: rgb(214, 210, 210);
  background-color: transparent;
  border: none;
  outline: none;
  border-radius:7px;
  transition: background-color .4s ease-in;
}
.botao-ind{
  position: relative;
  left: 120px;
  cursor: pointer;
  display: block;
  padding: 0 40px 0 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  color: #d6d2d2;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius:7px;
  transition: background-color .4s ease-in;
}
h3{
  float: right;
  font-family: 'Muli',sans-serif;
  padding:  0 15px;
  position:relative;
  bottom: 4px;
  color: #727171;
}
.botao-ind:hover{
  background-color:rgb(211, 212, 212);
}
.botao-def:hover{
  background-color:rgb(211, 214, 214);
 
}
.novo{
  position: absolute;
  right: 0;
  margin: 0 90px;
  cursor: pointer;
}
.linha{
  position: absolute;
  top: 50px;
  left: 10px;
  overflow: hidden;
  pointer-events: none;
  width: 88%;
  height: 2px;
}

.linha::before{
  content: '';
  position: absolute;
  top: 0;
  left: inherit;
  display: block;
  width: inherit;
  height: inherit;
  background-color: currentColor;
  transition: transform .2s ease-out;
}
.botao-def .linha::before{
  transform: translateX(116%);
  color: #009245;
}

.botao-ind .linha::before{
  transform: translateX(-116%);
  color: rgb(117, 32, 32);
}

.btn.is-active .linha::before{
  transform: translateX(0);
}
