@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Muli');
body{
    background-size: 200% 100% !important;
    animation: move 18s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #00a99d 10%, #009245 90%);
    height: 100vh
}
*,
*::before,
*::after {
	box-sizing: border-box;
}


.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.section-title {
	position: relative;
	top: 2rem;
	margin: 0 2rem;
	background-color: #fff;
	max-width: 250px;
	padding: 12px;
	border-radius: 50px;
	font-size: 13px;
	text-align: center;
	font-family: "Open sans", sans-serif;
	color:#1BD56F;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher-login {
	position: relative;
	cursor: pointer;
	display: block;
	margin-left: 10rem;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
	
}
.switcher-signup {
	position: relative;
	cursor: pointer;
	display: block;
	margin-left: 6rem;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
	
}

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 330px;
	max-height: 460px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius:12px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #DDDBDB;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #DDDBDB;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}



.input-block label {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	position: relative;
	top: 5px;
	color: #2E7C2E;
	
}

.input-block input {
	display: block;
	width: 100%;
	margin:1rem 0;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: rgba(214, 215, 216, 0.959);
  border: 1px solid #cddbef;
	border-radius: 8px;
	outline: none;
	font-family: 'Muli', sans-serif;
	color: rgb(90, 90, 201);
	
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: -webkit-linear-gradient(95deg, #00a99d, #009245);
	transform: translateX(-30%);
	cursor: pointer;
	position: relative;
	top: -20px;
}

.btn-signup {
	background: -webkit-linear-gradient(95deg, #00a99d, #009245);;
	color: #fbfdff;
	cursor: pointer;
	transform: translateX(30%);

}
.img{
	background-image: url('../img/user.png');
	width: 93px;
	height: 130px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 5.2rem;
}
.img2{
	background-image: url('../img/servidor.png');
	width: 98px;
	height: 130px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 5.2rem;
}
a #texto{
	font-size: 12px;
	text-align: center;
	color: #8d8d8d;
	font-family: 'Roboto',sans-serif;
	
}
.cor{
	color: rgb(36, 98, 170);
}
a:link{
	text-decoration: none;
}
@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}
 
 
  
