*{
	margin: 0;
	padding: 0;
}
.formularios{
	background:linear-gradient(168deg,rgb(0,146,69)30%, #00A99D );
	background-repeat: no-repeat;
	height:100vh;
}

.forms{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
h1{
	position: relative;
	top: 2rem;
	margin: 0 2rem;
	background-color: #fff;
	width: 17vw;
	padding: 10px;
	border-radius: 50px;
	font-size: 13px;
	text-align: center;
	font-family: "Open sans", sans-serif;
	color:#1BD56F;
}