@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Muli');
body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-size: cover;
    background: linear-gradient(45deg, #00a99d 10%, #009245 90%);
    height: 100vh;
    overflow: hidden;
  }
  .forms{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .titulo {
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
  }
  .steps{
    width: 370px;
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 8px 4px 14px -6px rgba(27, 63, 34, 0.952);
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=submit]{
    display: block;
    width: 100%;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: rgb(29, 78, 143);
    transition: 0.3s;
    cursor: pointer;
  }
  
  input[type=submit]:hover{
    background: rgb(33, 84, 194);
  }
  
  label{
    background: rgb(255, 255, 255);
    height: 69px;
    line-height: 69px;
    width: 100%;
    display: block;
    color: #919191;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 11px;
    letter-spacing: 1px;
    text-indent: 52px;
    cursor: pointer;
    transition: all 0.3s ease
  }
  
  label:before{
    content:"";
    width: 12px;
    height: 12px;
    border: 2px solid #07a85d;
    display: block;
    position: absolute;
    margin: 26px 0px 0px 18px;
    border-radius: 100%;
    transition: border 0.7s ease
  }
  
  label[for=genger]{
    border-radius: 3px 3px 0px 0px;
  }
  
  label:hover{
    background: rgb(225, 227, 228);
  }
  
  label:hover:before{
    border: 2px solid #46b7e5;
  }
  
#genger:checked ~ label[for=genger]:before,
#measurements:checked ~ label[for=measurements]:before,
#family:checked ~ label[for=family]:before,
#activity:checked ~ label[for=activity]:before,
#results:checked ~ label[for=results]:before{
border: 2px solid #96c93c;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGFJREFUeNpinHLMhgEHKADia0xQThIQs6JJ9gPxZhYQAcS6QHwDiI8hSYJAC0gBPxDLAvFcIJ6JJJkDxFNBVtgBcQ8Qa6BLghgwN4A4a9ElQYAFSj8C4mwg3o8sCQIAAQYA78QTYqnPZuEAAAAASUVORK5CYII=') no-repeat center center;
  }