@import url('https://fonts.googleapis.com/css?family=Muli:200,400');
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #00a99d 10%, #009245 90%);
  height: 108vh;
  font-family: 'Source Sans Pro', sans-serif;
}
.forms{
  display: flex;
  height: 108vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  animation: arrive 500ms ease-in-out 0.4s forwards;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
}
.requerimentos{
  width: 370px;
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 8px 4px 14px -6px rgba(27, 63, 34, 0.952);
}
input[type=checkbox] {
  display: none;
}

input[type=submit]{
  display: block;
  width: 100%;
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: rgb(29, 78, 143);
  transition: 0.3s;
  cursor: pointer;
}
input[type=submit]:hover{
  background: rgb(33, 84, 194);
}
label{
  background: rgb(255, 255, 255);
  height: 69px;
  line-height: 69px;
  width: 100%;
  display: block;
  color: #919191;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  text-indent: 52px;
  cursor: pointer;
  transition: all 0.3s ease
}

label:before{
  content:"";
  width: 12px;
  height: 12px;
  border: 2px solid #07a85d;
  display: block;
  position: absolute;
  margin: 26px 0px 0px 18px;
  border-radius: 100%;
  transition: border 0.7s ease
}

label[for=enriq]{
  border-radius: 3px 3px 0px 0px;
}

label:hover{
  background: rgb(225, 227, 228);
}
label:hover:before{
  border: 2px solid #46b7e5;
}

#enriq:checked ~ label[for=enriq]:before,
#exame:checked ~ label[for=exame]:before,
#historico:checked ~ label[for=historico]:before,
#matr:checked ~ label[for=matr]:before,
#mud_turno:checked ~ label[for=mud_turno]:before,
#tranca:checked ~ label[for=tranca]:before,
#seg_chamada:checked ~ label[for=seg_chamada]:before,
#mud_turma:checked ~ label[for=mud_turma]:before{
border: 2px solid #96c93c;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGFJREFUeNpinHLMhgEHKADia0xQThIQs6JJ9gPxZhYQAcS6QHwDiI8hSYJAC0gBPxDLAvFcIJ6JJJkDxFNBVtgBcQ8Qa6BLghgwN4A4a9ElQYAFSj8C4mwg3o8sCQIAAQYA78QTYqnPZuEAAAAASUVORK5CYII=') no-repeat center center;
}
@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.avanc{
  position: relative;
  left: 60px;
  top: 10px;
  cursor: pointer;
  animation: arrive 500ms ease-in-out 0.6s forwards;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
}
.logo {
  margin: auto 20px;
  position: absolute;
  left: 0;
  top: 28px;
  transform: translate3d(0, 1000px, 0);
  animation: arrive 500ms ease-in-out 0.4s forwards;
}
