@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
body{
  margin:0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
/*inicio da custonomização do cabeçalho*/
header{
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color:  #159952;
  position: fixed;
  z-index: 1;
}
header .titulo{
  position: relative;
  margin: 0 42px;
  font-size: 1.1rem;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}
header .busca_req{
  height: 38px;
  border-radius: 4px;
  outline: 0;
  border: 0;
  font-size: 0.8rem;
  font-family: 'Source Sans Pro',sans-serif;
  padding-left: 1rem;
  display: flex;
  flex: 0.5;
  flex-grow: 0.4;
  margin: 0 35px;
}
header .icon-profile{
  margin-right: 15px;

}
/*término da custonomização do cabeçalho*/

/*Inicio da custonomização do do menu deslizante*/
.menu-des{
  background-color:rgb(55, 57, 59);
  height:100vh;
  width: 270px;
  position: absolute;
  transition: all 0.8s ease;
  position: fixed;

}
.icones{
  display: flex;
  flex-direction: column;
  margin: 80px 0;
  font-size:0.8rem;
}
.icones .icone{
  margin: 2px 0;
  cursor: pointer;
  color: #C9C9C9;
  padding: 20px;
  width: 100%;;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
}
.icones .icone i {
  margin-right: 8px;
}

a.active{
  background-color: #454849;
  transition: transform 0.5s 0s ease-in-out;
  transform: translateY(4px);
}
/*término menu deslizantes*/

/*inicio dropdown de perfil*/
.menu{
  position: absolute;
  right: 0;
  border-radius: 22px;
}
.text-black {
  color: #000 !important;
}
.menu .menu-dropdown:not(.hidden) {
  opacity: 1;
  border-radius: 11px;
  transition: opacity 0.2s, box-shadow 0.3s, border-radius 0.3s, transform 0.2s 0s ease-out;
  transform: none;
}
.menu-button {
  background: none;
  background-color: #fff;
  border: none;
  padding: 0 8px;
  padding-right: 20px;
  height: 44px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  outline: none !important;
  background-color: transparent;
  color: #fff;
  z-index: 1;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
}
.menu-button > img {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-right: 13px;
}
.menu-dropdown {
  box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  background-color: #fff;
  border: 1px solid #eaeaea;
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  overflow: hidden;
  border-radius: 22px 22px 11px 11px;
  transition: opacity 0.2s, box-shadow 0.4s, border-radius 0.4s, transform 0s 0.2s ease-out;
  transform: translateY(10px);
  transform-origin: 0 0;
  padding-top: 44px;
}
.hidden {
  visibility: hidden;
}
.displayNone{
  display: none;
}

.menu-dropdown .content {
  overflow: hidden;
}
.menu-dropdown .content  ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-dropdown .content  ul li {
  list-style: none;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  margin: 0 0 11px;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 1px;
}
.menu-dropdown  .menu-button {
  border: none;
  color: #000;
}
.menu-dropdown .content  ul li:hover{
  background-color: rgb(51, 139, 88);
  color: #ffffff;
}
/*término dropdown perfil*/


/* Main */
main {
  margin-left: 270px;
}
/* Fim da main */

/* container */
.new-requirement h1{
  font-size: 2rem;
  color: #393b3b;
  margin-top: 90px;
  font-family: 'DM Sans', sans-serif;
}
.container:not(.displayNone) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container:not(.displayNone) .lista {
  list-style: none;
  padding: 0;
  display: grid;
  margin: 60px 0;
  grid-template-columns: repeat(4, minmax(160px, 1fr));;
}

.container:not(.displayNone) .lista li {
  margin: 0 50px;
  margin-bottom: 90px;
}
.container:not(.displayNone) .lista a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: transform .5s ease-in-out;
}
.container:not(.displayNone) .lista span{
  text-align: center;
  color: rgb(56, 54, 54);
  font-family: 'DM Sans', sans-serif;
  
}
.lista li img {
  width: 130px;
  height: auto;
  margin-bottom: 20px;
}
.container:not(.displayNone) .lista a:hover{
  transform: scale(1.2);
}

/* Fim container */
@media (min-width: 1800px) {
  body{
    overflow: hidden;
  }
}
