@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
body{
  margin:0;
  padding: 0;

}
*{
  box-sizing: border-box;
}
/*inicio da custonomização do cabeçalho*/
header{
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color:  #159952;
}
header .titulo{
  position: relative;
  margin: 0 42px;
  font-size: 1.1rem;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}
header .busca_req{
  height: 38px;
  border-radius: 4px;
  outline: 0;
  border: 0;
  font-size: 0.8rem;
  font-family: 'Source Sans Pro',sans-serif;
  padding-left: 1rem;
  display: flex;
  flex: 0.5;
  flex-grow: 0.4;
  margin: 0 35px;
}
header .icon-profile{
  margin-right: 15px;

}
/*término da custonomização do cabeçalho*/

/*Inicio da custonomização do do menu deslizante*/
.menu-des{
  background-color:rgb(55, 57, 59);
  height:100vh;
  width: 270px;
  position: absolute;
  transition: all 0.8s ease;

}
.icones{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  font-size:0.8rem;
}
.icones .icone{
  margin: 2px 0;
  cursor: pointer;
  color: #C9C9C9;
  padding: 20px;
  width: 100%;;
  text-decoration: none;
  font-family: 'Source Sans Pro',sans-serif;
}
.icones .icone i {
  margin-right: 8px;
}

a.active{
  background-color: #454849;
  transition: transform 0.5s 0s ease-in-out;
  transform: translateY(4px);
}
/*término menu deslizantes*/

/*inicio dropdown de perfil*/
.menu{
  position: absolute;
  right: 0;
  border-radius: 22px;
}
.text-black {
  color: #000 !important;
}
.menu .menu-dropdown:not(.hidden) {
  opacity: 1;
  border-radius: 11px;
  transition: opacity 0.2s, box-shadow 0.3s, border-radius 0.3s, transform 0.2s 0s ease-out;
  transform: none;
}
.menu-button {
  background: none;
  background-color: #fff;
  border: none;
  padding: 0 8px;
  padding-right: 20px;
  height: 44px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  outline: none !important;
  background-color: transparent;
  color: #fff;
  z-index: 1;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
}
.menu-button > img {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-right: 13px;
}
.menu-dropdown {
  box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  background-color: #fff;
  border: 1px solid #eaeaea;
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  overflow: hidden;
  border-radius: 22px 22px 11px 11px;
  transition: opacity 0.2s, box-shadow 0.4s, border-radius 0.4s, transform 0s 0.2s ease-out;
  transform: translateY(10px);
  transform-origin: 0 0;
  padding-top: 44px;
}
.hidden {
  visibility: hidden;
}
.displayNone{
  display: none;
}

.menu-dropdown .content {
  overflow: hidden;
}
.menu-dropdown .content  ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-dropdown .content  ul li {
  list-style: none;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  margin: 0 0 11px;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 1px;
}
.menu-dropdown  .menu-button {
  border: none;
  color: #000;
}
.menu-dropdown .content  ul li:hover{
  background-color: rgb(51, 139, 88);
  color: #ffffff;
}
/*término dropdown perfil*/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
}


ul li {
  list-style-type: none;
}

.slider--teams {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 1000px;
  opacity: 0; 
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slider--teams .slider--teams__team {
  position: relative;
  overflow: hidden;
}

#list {
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#list li {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
}
#list li figure {
  cursor: pointer;
  margin: 1em;
  opacity: 0.5;
          backface-visibility: hidden;
  transition: opacity 450ms ease-in-out, -webkit-transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out;
  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out, -webkit-transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transform: scale(0.5) translateZ(0px);
}
#list li figure:hover {
  opacity: 0.8;
  -webkit-transform: scale(0.6) translateZ(0px);
          transform: scale(0.6) translateZ(0px);
}
#list li figure:active {
  opacity: 1;
  -webkit-transform: scale(0.7) translateZ(0px);
          transform: scale(0.7) translateZ(0px);
}
#list li figure > div {
  border-radius: 5px;
  position: relative;
  margin: 2rem auto;
  width: 200px;
  height: 200px;
  overflow: hidden;

}
#list li figure img {
 width: 200px;
 height: 200px;
}
#list li figure figcaption h2 {
  color: rgb(73, 73, 73);
  font-size: 1.4rem;
  font-weight: 800;
}
#list li figure figcaption p {
  color: #666;
  font-size: 0.9rem;
  font-weight: 400;
}
#list li:nth-child(1) figure > div > div {
  background-position: 0px 0px !important;
}
#list li:nth-child(2) figure > div > div {
  background-position: 0px 20% !important;
}
#list li:nth-child(3) figure > div > div {
  background-position: 0px 40% !important;
}
#list li:nth-child(4) figure > div > div {
  background-position: 0px 60% !important;
}
#list li:nth-child(5) figure > div > div {
  background-position: 0px 80% !important;
}
#list li:nth-child(6) figure > div > div {
  background-position: 0px 100% !important;
}

.active {
  opacity: 1 !important;
  -webkit-transform: scale(1) translateZ(0px) !important;
          transform: scale(1) translateZ(0px) !important;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}


