body{
    background: url("../img/estudante.jpg") no-repeat;
    background-size:cover; 
}
.email-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-right: 20rem;
  }
  
.form input[type="text"],
.form input[type="number"],
.form input[type="password"]{
  height:28px;
  outline: none;
  border: 1px solid #E3E8E3;
  padding: 0 10px;
  border-radius: 50px;
  margin: 8px 0;
  background-color:#E3E8E3;
  font-family: Myriad Pro
  font-family: 'Muli', sans-serif;
  width: 179px;
}

.form button{
    height:28px;
    width: 179px;
    padding: 0 10px;
    background-color: #3C62A5;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    border-radius: 20px;
    
  }
  .form button:hover{
    background-color: #358efb;
    transition: 0.6s;

  }
  .senha{
    width:50%;
    text-align: left;
    text-decoration: none;
    color: rgb(91, 111, 155);
    font-size: 0.75rem;
  }

 